ul{  list-style: none;  }
a{  color: inherit;cursor:pointer  }
.modal-content{
    margin:30px auto!important;
}
.alert{
    border:1px solid #bfeaf3;
    /*overflow: hidden;*/
    margin-bottom: 0!important;
}
.w-line{
    height:1px;
    border:none;
    border-top:1px dashed #0066CC;
    margin: 5px 0;
    clear:both;
}
.w-tableCon{
    list-style: none;
    /*overflow: hidden;*/
    margin:0;
    height:30px
}
.w-tableCon form{
    margin:0
}
.w-tableCon li{
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.w-tableCon li a{
    text-decoration: none;
}
.w-tableCon li a:hover{
    cursor: pointer;
}
.form-group .form-control-feedback{
    line-height: 28px!important;
    margin-right: 5px!important;
}
form.form-horizontal{
    margin:0!important
}
a[role="button"]{
    color: #337ab7;
}
.form-search label{margin-right: 20px}
.form-search label input{padding-left: 6px}

/*图片上传*/
.img-box{
     margin:0 auto;
     top:50%;
     width: 100px;
     height: 140px;
     position:relative;
     background: rgb(249,249,249);
     border: 1px solid rgb(197, 190, 190);
 }
 .img-box img{
     max-width: 100%;
     max-height: 100%;
     position: absolute;/*绝对定位*/
     top:50%;
     left: 50%;
     -webkit-transform: translate(-50%,-50%); /*-webkit-是厂商前缀*/
         -ms-transform: translate(-50%,-50%); /*-ms-是厂商前缀*/
             transform: translate(-50%,-50%);/*translate是移动属性，两个-50%代表着像原始位置向左、向上各移动50%*/
 }
 
 .btn-uploading{    
     background-color: #3598db;
     font-size: 15px;
     line-height: 38px;
     color: #fff;
     position:absolute;
     top:50%;
     margin-top:-16px;
     left: 50%;
     margin-left: -39px;
     text-align: center;
     border-radius: 3px;
     z-index: 5;
     cursor: pointer;
 }
 .icon-uploading{
     width: 27px;
     height: 27px;
     display: inline-block;
     background: url(/images/upload//upload.png) no-repeat;
     position: relative;
     top:6px;
 }
 .message li{
    list-style: decimal;
    line-height: 35px;
    font-size: 14px;
 }
  .message li:hover{
    background-color: #ededed;
  }
 .message li:hover a{
    display: inline-block;
  }
  .message a{
    float: right;
    display: inline-block;
    margin-right: 20px;
  }

  .class-detail li{
    line-height: 30px;
  }
  .class-title{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    text-align: right;
    margin-right: 20px;
  }
  .ceensus_info td,th{
    border: 1px solid lightgray;
    line-height: 24px;
    padding: 5px;
  }