<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .class_name{
            font-size: 18px;
            text-align: right;
        }
    </style>
</head>
<body>
<h4 class="header blue bolder">未结业班级状态</h4>
<div class=".container-fluid" id="showclassjob" style="padding: 10px 20px">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-xs-3">
            <h4 style="text-align: right"><strong>班级名称</strong></h4>
        </div>
        <div class="col-xs-4">
            <h4 style="text-align: center"><strong>班级进度</strong></h4>
        </div>
        <div class="col-xs-3" style="text-align: center">
            <h4><strong>未就业人数</strong></h4>
        </div>
    </div>
</div>
<script src="../js/cen-job.js"></script>
</body>
</html>