<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.min.css" />
    <style>
        #edit-basic label{text-align: right}
    </style>
</head>
<body>
<div id="edit-basic" class="tab-pane active">


    <h4 class="header blue bolder smaller">员工推荐详细</h4>
    <div class="container-fluid">
        <div style="float:right;margin: 0 12px 20px 0">
            <button style="margin-right: 15px" class="btn btn-sm btn-info" type="button"  onclick="ExportToExcel('user-table')">导出到excel</button>
            <label class="control-label no-padding-right">就业时间： </label>
            <input type="text" id="starttime">
            <label class="control-label no-padding-right"> 至 </label>
            <input type="text" id="endtime">
            <button style="margin-left: 15px" id="time-search" class="btn btn-sm btn-info" type="button">查询</button>
        </div>
        <div class=" col-xs-12 ">
            <table id="user-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">员工姓名</th>
                        <th class="center">推荐人次</th>
                        <th class="center">安排面试人次</th>
                        <th class="center">录用人次</th>
                        <th class="center">就业人次</th>
                        <th class="center">推荐成功率</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <!--datatable-->
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/jquery.dataTables.bootstrap.js"></script>

    <script src="../js/ceensus-user.js"></script>
</div>
</body>
</html>