<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>班级详情</title>
</head>
<body>
	<div class="content">
		<!-- 基础信息 -->
		<div>
			<h4 style="color:gray">基础信息</h4>
		</div>
		<ul class="class-detail">
			<li>
				<span class="class-title">
					<strong>班级名称：</strong>
				</span>
				<span id="c_name"></span>			
			</li>
			<li>
				<span class="class-title">
					<strong>人事经理：</strong>
				</span>
				<span id="c_hr"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>项目经理：</strong>
				</span>
				<span id="c_manager"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>开班时间：</strong>
				</span>
				<span id="c_begintime"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>结业时间：</strong>
				</span>
				<span id="c_endtime"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>结班时间：</strong>
				</span>
				<span id="c_closetime"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>教室地址：</strong>
				</span>
				<span id="c_address"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>QQ群：</strong>
				</span>
				<span id="c_qq"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>班级状态：</strong>
				</span>
				<span id="c_status"></span>
			</li>
			<li>
				<span class="class-title">
					<strong>备注：</strong>
				</span>
				<span id="c_remark"></span>
			</li>
		</ul>
		<!-- 班级学生信息 -->
		<div>
			<h4 style="color:gray">学生信息</h4>
		</div>
		<ul class="class-detail">
			<li>
				<span class="class-title">
					<strong>班级人数：</strong>
				</span>
				<span id="c_total"></span>			
			</li>
			<li>
				<span class="class-title">
					<strong>男女比例：</strong>
				</span>
				<span id="c_sex"></span>			
			</li>
			<li>
				<span class="class-title">
					<strong>学历情况：</strong>
				</span>
				<span id="s_education"></span>			
			</li>
			<li>
				<span class="class-title">
					<strong>就业情况：</strong>
				</span>
				<div style="display: inline-block;">
					<p id="self_job">
						<span>自主就业0人</span>
					</p>	
					<p id="recom_job">
						<span>推荐就业0人</span>
					</p>
					<p id="giveupjob">
						<span>放弃就业0人</span>
					</p>
					<p id="delayjob">
						<span>推迟就业0人</span>
					</p>
					<p id="rejob">
						<span>再就业0人</span>
					</p>	
					<p id="nojob">
						<span>剩余未就业0人</span>
					</p>
					<p id="c_percent">
						<span>就业率 33.3 %</span>
					</p>
					
				</div>
			</li>
		</ul>
		<!-- 班级动态 功能暂时屏蔽-->
		<!-- <div>
			<h4 style="color:gray">班级动态</h4>
		</div>
		<ul class="approInfo">
			<li>	
			</li>
		</ul> -->
	</div>
</body>
<script type="text/javascript" src="../assets/js/bootstrap-select.js"></script>
<script type="text/javascript" src="../js/classDetail.js"></script>
</body>
</html>