<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-select.min.css" />
    <style>
        .bootstrap-select{height: auto}
        .dropdown-toggle{padding: 0;padding-left:5px }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="alert alert-block alert-info" style="border:1px solid #bfeaf3;">
    
    <!--查询-->
    <form class="form-search" style="margin:0;">

        <label>
            班级:
            <span class="input-icon">
                <select class="nav-search-input" id="class-search" class="selectpicker form-control" data-style="btn-info"  data-live-search="true">
                    <option value="">全部</option>
                </select>
            </span>
        </label>
        <label>
            姓名:
            <span class="input-icon">
                <input type="text" class="nav-search-input" id="stu-search" autocomplete="off">
            </span>
        </label>
        <label>
            回访人:
            <span class="input-icon">
                <input type="text" class="nav-search-input" id="u_name" autocomplete="off">
            </span>
        </label>
        <label>
            回访时间:
            <span class="input-icon">
                <input name="s_starttime" id="start-search" type="text" style="width: 100px" autocomplete="off">
            </span>
             至
            <span class="input-icon">
                <input name="s_overtime" id="end-search" type="text" style="width: 100px" autocomplete="off">
            </span>
        </label>
        <label>
            <button class="btn btn-sm btn-primary" id="search" type="button">
                <i class="icon-search nav-search-icon"></i>
            </button>
        </label>
    </form>
</div>
<hr class="w-line"/>
<!--导出-->
        <a href="#" role="button" data-toggle="modal" id="export">
            <i class="icon-download-alt"></i>
            导出
        </a>
<div id="w-table" style="width: 100%;outline:1px solid #c5d0dc">
    <!--jqGrid表格-->
    <table id="visit-table"></table>

    <div id="visit-pager"></div>
</div>
<script type="text/javascript">
    var $path_base = "/";//this will be used in gritter alerts containing images
</script>
<!--select-->
<script type="text/javascript" src="../assets/js/bootstrap-select.js"></script>

<script src="../js/stuVisited.js"></script>
</body>
</html>